<div class="ui container">
  <a class="item">
    <%= link_to 'Chatroom', root_path,class: 'item' %>
  </a>
  <a class="item">
    Messages
  </a>
</div>

  <div class="item">

    <% if logged_in? %>
      <%= link_to "Logout",logout_path, method: :delete, class: "ui primary button" %>
    <% else %>

    <% end %>

  </div>

  <% if !logged_in? %>
  <div class="item">
    <%= link_to "Log in", login_path, class: "ui primary button" %>
  </div>
    <%end %>
</div>