<div class="ui container">
  <a class="item">
    <%= link_to 'Chatroom', root_path,class: 'item' %>
  </a>
  <a class="item">
    Messages
  </a>
</div>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">English</a>
      <a class="item">Russian</a>
      <a class="item">Spanish</a>
    </div>
  </div>

  <div class="item">

      <%= link_to 'Login',  login_path, class: 'ui primary button'%>

  </div>

  <div class="item">
    <div class="ui primary button">Sign Up</div>
  </div>
</div>